root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.fish]
indent_size = 4
indent_style = space

[.config/git/config]
indent_size = 4
indent_style = space

[*.lua]
align_array_table = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
continuation_indent = 2
indent_size = 2
indent_style = space
max_line_length = 88
quote_style = double

[.mbsyncrc]
indent_size = 4
indent_style = space

[*.md]
indent_size = 4
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[*.vim]
indent_size = 4
indent_style = space

[*.yaml]
indent_size = 2
indent_style = space
