export VIP_DEPLOY_GIT_PATH='/Users/dirn/development/cbs/deploy/cache/'
export VIP_DEPLOY_SVN_PATH='/Users/dirn/development/cbs/vip/'

export PATH=$PATH:/usr/local/sbin:/usr/local/mysql/bin:/usr/local/git/bin:~/Downloads/android-sdk-mac_x86/platform-tools

export NODE_PATH='/usr/local/lib/node'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
