[user]
	name = Andy Dirnberger
	email = dirn@dirnonline.com
[credential]
	helper = osxkeychain
[alias]
	ci = commit
	co = checkout
	rb = rebate
	st = status
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	rewind = reset --soft HEAD~1
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	amend = commit --amend
    patch = commit --patch -v
    locate = ls-tree --name-only -r HEAD
    restore = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"
    missing = !git log --no-merges "$1" ^"$2"
[color]
	ui = true
[core]
	editor = nano
[mergetool]
	keepBackup = true
[heroku]
	account = me
