[submodule "mongo/submodules/mongo-hacker"]
	path = mongo/submodules/mongo-hacker
	url = https://github.com/TylerBrock/mongo-hacker.git
[submodule "vim/submodules/vim-pathogen"]
	path = vim/submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/submodules/vim-colors-solarized"]
	path = vim/submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/submodules/vim-python-pep8-indent"]
	path = vim/submodules/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "zsh/submodules/prezto"]
	path = zsh/submodules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim/bundle/vitality.vim"]
	path = vim/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/clam.vim"]
	path = vim/bundle/clam.vim
	url = https://github.com/sjl/clam.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/submodules/argonaut.vim"]
	path = vim/submodules/argonaut.vim
	url = https://github.com/effkay/argonaut.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/submodules/molokai"]
	path = vim/submodules/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/strftimedammit.vim"]
	path = vim/bundle/strftimedammit.vim
	url = https://github.com/sjl/strftimedammit.vim.git
