<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>Solarized Dark ansi</string>
	<key>DefaultProfilesVersion</key>
	<integer>1</integer>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>Man Page Window Settings</key>
	<string>Man Page</string>
	<key>NSNavLastRootDirectory</key>
	<string>~</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>636 624 637 478 0 0 1920 1178 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>201 569 524 349 0 0 1920 1178 </string>
	<key>NSWindow Frame TTWindow Basic</key>
	<string>159 598 570 366 0 0 1920 1178 </string>
	<key>NSWindow Frame TTWindow Pro</key>
	<string>1930 22 2410 1070 1920 -240 2560 1440 </string>
	<key>NSWindow Frame TTWindow Solarized Dark ansi</key>
	<string>60 0 1860 1178 0 0 1920 1178 </string>
	<key>NSWindow Frame TTWindow Tomorrow Night Bright</key>
	<string>180 504 650 437 0 0 1920 1178 </string>
	<key>ProfileCurrentVersion</key>
	<real>2.02</real>
	<key>SecureKeyboardEntry</key>
	<false/>
	<key>Startup Window Settings</key>
	<string>Solarized Dark ansi</string>
	<key>TTAppPreferences Selected Tab</key>
	<integer>1</integer>
	<key>Window Settings</key>
	<dict>
		<key>Basic</key>
		<dict>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>name</key>
			<string>Basic</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECAwLjA3NDUwOTgwNyAwLjQ2
			NjY2NjcgMC4yMzkyMTU3ABACgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJj
			aGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYoWHiY6ZoqqttsjL
			0AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADS
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBgwLjU1Njg2Mjc3IDAuMTU2
			ODYyNzUgMAAQAoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dO
			U0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcY
			VHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7Aw8gAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADV0NvdXJpZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzVk5T
			Rm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ry
			b290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOsvsHGAAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjcxMzcyNTUxIDAuMjg2
			Mjc0NTIgMC4xNDkwMTk2MQAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBcxIDAuNjkwMTk2MSAwLjIz
			MTM3MjU3ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhU
			cm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/CxwAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBgxIDAuOTQxMTc2NTMgMC42
			NDcwNTg4NAAQAoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dO
			U0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcY
			VHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7Aw8gAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>name</key>
			<string>Grass</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Homebrew</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc00wIDAuODk5OTk5OTgAEAOA
			AtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhO
			U09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERoj
			LTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjIxOTYwNzg2IDAuOTk2
			MDc4NDkgMC4xNTI5NDExOAAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADWkFuZGFsZU1vbm/SExQVFlokY2xhc3NuYW1lWCRjbGFzc2Vz
			Vk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEa
			G1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniDiJOco6avwcTJAAAA
			AAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEB4wLjAzNDU3ODM5NSAwIDAu
			OTEzMjY1MzEgMC42NQAQAYAC0hAREhNaJGNsYXNzbmFtZVgkY2xh
			c3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
			dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KDhYeMl6Coq7TGyc4A
			AAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NGMCAxIDAAEAGAAtIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			aWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECIwLjE1Njg2Mjc1IDAuOTk2
			MDc4NDkgMC4wNzg0MzEzNzUAEAKAAtIQERITWiRjbGFzc25hbWVY
			JGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRB
			cmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITltih4mLkJukrK+4
			ys3SAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANQ=
			</data>
			<key>name</key>
			<string>Homebrew</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Man Page</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjk5NjA3ODQ5MTIgMC45
			NTY4NjI4MDczIDAuNjExNzY0NzI5ABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>name</key>
			<string>Man Page</string>
			<key>rowCount</key>
			<integer>48</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBowLjg3NSAwLjg1Nzk4MzY1
			IDAuNzY1NjI1ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2Vz
			V05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSE5bYn+Bg4iTnKSnsMLFygAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECowLjIyNzQ1MSAwLjEzNzI1
			NDkxIDAuMTMzMzMzMzQgMC42NDk5OTk5OAAQAoAC0hAREhNaJGNs
			YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KP
			kZOYo6y0t8DS1doAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADV0NvdXJpZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzVk5T
			Rm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ry
			b290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOsvsHGAAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECwwLjQ1NDA4MTY1IDAuNDUx
			MDA0ODkgMC4zMTUxNDM5MSAwLjc1OTk5OTk5ABABgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5b
			YpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBswLjUgMC4xNjQzMDA1NSAw
			LjA5OTE0NTQ3MgAQAYAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nl
			c1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy
			0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KAgoSJlJ2lqLHDxssAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjIzMzE3MzEyIDAuMTM1
			NDA4NTcgMC4xMzI5MDYwOAAQAYAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>name</key>
			<string>Novel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Ocean</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjEzMjA1NjI0IDAuMzA4
			NDc4NTYgMC43MzkxMzA0NAAQAYAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBcwLjEzMDczOTMgMC40Mjg0
			NTgwNiAxABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhU
			cm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/CxwAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Ocean</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Pro</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc00wIDAuODUwMDAwMDIAEAOA
			AtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhO
			U09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERoj
			LTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjMwMjQxOTM2ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCA
			AoADXxASVWJ1bnR1TW9uby1SZWd1bGFy0hMUFRZaJGNsYXNzbmFt
			ZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3RfEA9OU0tleWVk
			QXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4jZKd
			pq2wucvO0wAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>Linewrap</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjI1NDAzMjI1ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0swLjk0NzU4MDY0ABADgALS
			EBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0y
			NztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>columnCount</key>
			<integer>400</integer>
			<key>name</key>
			<string>Pro</string>
			<key>rowCount</key>
			<integer>80</integer>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Red Sands</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECwwLjQ3ODI2MDg3IDAuMTQ1
			MTA0MzYgMC4xMTY4ODEyMSAwLjg1MDAwMDAyABABgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5b
			YpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0IxABADgALSEBESE1okY2xh
			c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBdZGdp
			a3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>CursorType</key>
			<integer>1</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECMwLjIzNzkwMzIxIDAuMDk3
			NjAxMzM5IDAuMDg3NDM0NTIzABACgALSEBESE1okY2xhc3NuYW1l
			WCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVk
			QXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYoiKjJGcpa2w
			ucvO0wAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEBwwLjg3NSAwLjc0MDM4ODQ1
			IDAuMTMyMTM4NzMAEAGAAtIQERITWiRjbGFzc25hbWVYJGNsYXNz
			ZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FITltigYOFipWepqmyxMfMAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECEwLjg0MzEzNzMyIDAuNzg4
			MjM1MzcgMC42NTQ5MDE5OAAQAoAC0hAREhNaJGNsYXNzbmFtZVgk
			Y2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFy
			Y2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KGiIqPmqOrrrfJ
			zNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Red Sands</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Silver Aerogel</key>
		<dict>
			<key>BackgroundAlphaInactive</key>
			<real>0.5</real>
			<key>BackgroundBlur</key>
			<real>1</real>
			<key>BackgroundBlurInactive</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NIMC41IDAuNQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
			FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohob
			XE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtf
			EA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAy
			ADcAPQBDAEwAVABhAHYAfQCGAIgAigCMAJEAlgCYAJoAnwCqALMA
			wADDANAA2QDeAOYA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAA
			AAAAAAAAAAAAAAEF
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hp
			dGVcTlNDb2xvclNwYWNlViRjbGFzc0UwLjg1ABADgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSFBd
			ZGpsbnN+h4+Sm62wtQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAAC3
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECQwLjM5NDQzMDA3MTEgMC4z
			OTk2NDY2OTk0IDAuNTQwNDI4NAAQAYAC0hAREhNaJGNsYXNzbmFt
			ZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXll
			ZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KJi42Snaau
			sbrMz9QAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA1g==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NCMQAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZWiRj
			bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29s
			b3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tl
			eWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2AgoSG
			i5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAA
			AAAAAAAAAAAA/w==
			</data>
			<key>name</key>
			<string>Silver Aerogel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Solarized Dark ansi</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPEC0wLjAxNTkyNDQwNTMxIDAu
			MTI2NTIwOTE2OCAwLjE1OTY5NjAxMjcgMC45NgAQAYAC0hAREhNa
			JGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0
			XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhO
			W2KSlJabpq+3usPV2N0AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAA
			AAAAAAAA3w==
			</data>
			<key>BlinkText</key>
			<false/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjQ0MDU4MDI0ODggMC41
			MDk2MjkzMDkyIDAuNTE2ODU3OTgxNwAQAYAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AsAAAAAAAAEBCA
			AoADXxAlVWJ1bnR1TW9ub0Rlcml2YXRpdmVQb3dlcmxpbmUtUmVn
			dWxhctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNGb250ohUX
			WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RobVHJvb3SAAQgR
			GiMtMjc8QktSW2JpcnR2eKClsLnAw8ze4eYAAAAAAAABAQAAAAAA
			AAAcAAAAAAAAAAAAAAAAAAAA6A==
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECgwLjAzOTM4MDczNjY1IDAu
			MTYwMTE2NDYzOSAwLjE5ODMzMjc1NjgAEAGAAtIQERITWiRjbGFz
			c25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITltijY+R
			lqGqsrW+0NPYAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAA
			ANo=
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<true/>
			<key>TerminalType</key>
			<string>ansi</string>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjUwNTk5MTkzNTcgMC41
			NjQ4NTgzNzcgMC41NjM2MzY1NDE0ABABgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjQ0MDU4MDI0ODggMC41
			MDk2MjkzMDkyIDAuNTE2ODU3OTgxNwAQAYAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>UseBoldFonts</key>
			<false/>
			<key>UseBrightBold</key>
			<true/>
			<key>blackColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7JNIT2DkvUjPoO+F0s+AYY=
			</data>
			<key>blueColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgyqcAj6DtOHsPoO+RUg/AYY=
			</data>
			<key>brightBlackColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+ZzgjyDs44BPoNahyM+AYY=
			</data>
			<key>brightBlueColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7yT4T6DEXcCP4POUAQ/AYY=
			</data>
			<key>brightCyanColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7CIAT+Dj5oQP4N8ShA/AYY=
			</data>
			<key>brightGreenColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgzyujT6DFZy2PoOYFsQ+AYY=
			</data>
			<key>brightMagentaColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxMjsj6D+uazPoNkyTc/AYY=
			</data>
			<key>brightRedColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgyfkPT+D/15aPoMgl5Y9AYY=
			</data>
			<key>brightWhiteColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg49LfT+D0Dt1P4MGM10/AYY=
			</data>
			<key>brightYellowColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1MTpj6DeHnQPoPQg+A+AYY=
			</data>
			<key>columnCount</key>
			<integer>400</integer>
			<key>cyanColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4VRFj6DfyESP4PkZwY/AYY=
			</data>
			<key>greenColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg9lI5j6DIYkKP4PVjKU8AYY=
			</data>
			<key>magentaColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg/4CRz+DBTzdPYMgzt4+AYY=
			</data>
			<key>name</key>
			<string>Solarized Dark ansi</string>
			<key>redColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6i7UT+DUATePYMl2hA+AYY=
			</data>
			<key>rowCount</key>
			<integer>80</integer>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
			<key>whiteColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgzqGaj+D2tdjP4NYPUw/AYY=
			</data>
			<key>yellowColour</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg0DAJT+DB17vPoM4Y8A8AYY=
			</data>
		</dict>
		<key>Solid Colors</key>
		<dict>
			<key>BackgroundImageBookmark</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFdOUy5kYXRh
			ViRjbGFzc08RAehib29r6AEAAAAAARAQAAAATAEAAAcAAAABAQAA
			TGlicmFyeQAQAAAAAQEAAERlc2t0b3AgUGljdHVyZXMMAAAAAQEA
			AFNvbGlkIENvbG9ycwwAAAABBgAABAAAABQAAAAsAAAACAAAAAQD
			AAAtgDYDAAAAAAgAAAAEAwAA2tM4AwAAAAAIAAAABAMAAJfUOAMA
			AAAADAAAAAEGAABUAAAAZAAAAHQAAAAYAAAAAQIAAAIAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAwAAAABAQAATWFjaW50b3NoIEhECAAA
			AAQDAAAAAAAACgAAAAgAAAAABAAAQbAnRXIAAAAkAAAAAQEAADM1
			OTAxRjRELUQ1RTUtM0E5OC1CODAzLTc3MEM0NUE5RDA2QxgAAAAB
			AgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
			AAAAAAEFAACEAAAA/v///wEAAAAAAAAACgAAAAQQAABAAAAAAAAA
			AAUQAACEAAAAAAAAABAQAACYAAAAAAAAAAIgAAA4AQAAAAAAABAg
			AAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADc
			AAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAAIAC0g4PEBFa
			JGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoxASE1ZO
			U0RhdGFYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9v
			dIABAAgAEQAaACMALQAyADcAOwBBAEYATgBVAkECQwJIAlMCXAJq
			Am4CdQJ+ApACkwKYAAAAAAAAAgEAAAAAAAAAGAAAAAAAAAAAAAAA
			AAAAApo=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdO
			U1doaXRlXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFj
			ZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZ
			WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5T
			Q29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9O
			U0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAyADcA
			PQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACnALAAvQDA
			AM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAA
			AAAAAAAAAAEC
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>name</key>
			<string>Solid Colors</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Tomorrow Night Bright</key>
		<dict>
			<key>ANSIBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjU1Njg2Mjc3MTUgMC43
			MTc2NDcwNzU3IDAuODc0NTA5ODcxABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightBlackColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NGMCAwIDAAEAKAAtIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			aWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>ANSIBrightBlueColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjU2MDc4NDMzOTkgMC43
			MjE1Njg2NDQgMC44NjY2NjY3MzQyABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightCyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjUyMTU2ODY1NiAwLjc5
			MjE1NjkzNDcgMC43NDkwMTk2MjI4ABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECYwLjcyOTQxMTc4MDggMC43
			Njg2Mjc1MjQ0IDAuMzkyMTU2ODk5ABACgALSEBESE1okY2xhc3Nu
			YW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5Sf
			qLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY
			</data>
			<key>ANSIBrightMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjgwMzkyMTYzOTkgMC42
			Nzg0MzEzOTE3IDAuODY2NjY2NzM0MgAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjg1ODgyMzU5NzQgMC40
			MDM5MjE2MDQyIDAuNDA3ODQzMTcyNgAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIBrightWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NGMSAxIDEAEAKAAtIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			aWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>ANSIBrightYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjkxNzY0NzEyMzMgMC44
			MDAwMDAwNzE1IDAuNDExNzY0NzQwOQAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSICyanColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjUxMzcyNTUxOTIgMC43
			OTIxNTY5MzQ3IDAuNzQ5MDE5NjIyOAAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIGreenColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjcyOTQxMTc4MDggMC43
			NzI1NDkwOTI4IDAuMzY0NzA1ODkwNAAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIMagentaColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjgwNzg0MzIwODMgMC42
			NzQ1MDk4MjMzIDAuODcwNTg4MzAyNgAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIRedColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjg2NjY2NjczNDIgMC40
			MDAwMDAwMzU4IDAuNDAwMDAwMDM1OAAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>ANSIWhiteColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NGMSAxIDEAEAKAAtIQERITWiRj
			bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			aWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>ANSIYellowColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjkyMTU2ODY5MTcgMC44
			MDM5MjE2Mzk5IDAuMzgwMzkyMTkzOAAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>BackgroundAlphaInactive</key>
			<real>0.80000000000000004</real>
			<key>BackgroundBlurInactive</key>
			<real>0.14999999999999999</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NLMCAwIDAgMC44NQAQAoAC0hAR
			EhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7
			QUhOW2JucHJ3gouTlp+xtLkAAAAAAAABAQAAAAAAAAAZAAAAAAAA
			AAAAAAAAAAAAuw==
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<false/>
			<key>Bell</key>
			<false/>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjkzMzMzMzM5NjkgMC45
			MzMzMzMzOTY5IDAuOTMzMzMzMzk2OQAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>CursorType</key>
			<integer>2</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWVWJGNsYXNzI0AsAAAAAAAAEBCA
			AoADXU1lbmxvLVJlZ3VsYXLSExQVFlokY2xhc3NuYW1lWCRjbGFz
			c2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniGi5afpqmyxMfM
			AAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.02</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjMyOTQxMTc3NDkgMC4z
			Mjk0MTE3NzQ5IDAuMzI5NDExNzc0OQAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjkzMzMzMzM5NjkgMC45
			MzMzMzMzOTY5IDAuOTMzMzMzMzk2OQAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdC
			XE5TQ29sb3JTcGFjZVYkY2xhc3NPECcwLjkzMzMzMzM5NjkgMC45
			MzMzMzMzOTY5IDAuOTMzMzMzMzk2OQAQAoAC0hAREhNaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCV
			oKmxtL3P0tcAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			2Q==
			</data>
			<key>UseBoldFonts</key>
			<false/>
			<key>UseBrightBold</key>
			<true/>
			<key>name</key>
			<string>Tomorrow Night Bright</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
